* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_styles {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/images/background.jpg") center / cover repeat;
    overflow: hidden;
}

._offscreen {
    position: absolute;
    left: -9999px;
}
